<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-warning text-white">
        <h3 class="card-title">Edit Document</h3>
      </div>
      <div class="card-body">
        <%= form_with model: @document, data: { turbo_stream: true, controller: 'auto-submit', auto_submit_target: 'form' }, method: :patch do |form| %>
          <div class="form-group">
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control", placeholder: "Enter document title", required: true %>
          </div>

          <div class="form-group">
            <%= form.label :content, class: "form-label" %>
            <%= form.text_area :content, rows: 20, style: "width: 100%;",
              data: { id: @document.id, action: "input->auto-submit#update", auto_submit_target: "textarea" } %>
          </div>

          <div class="form-group">
            <%= form.submit "Update Document", class: "btn btn-success btn-block" %>
          </div>

          <div id="updates">
            <%= turbo_stream_from @document %>
            <p>
              <strong>Last Updated:</strong>
              <div id="document_last_updated"> <%= @document.updated_at %> </div>
            </p>
          </div>

        <% end %>

        <%= link_to 'Back to Documents', documents_path, class: 'btn btn-outline-secondary mt-3' %>
      </div>
    </div>
  </div>
</div>